:root {
    --primary: white;
    --secondary: black;
}

header a {
    text-decoration: none;
}

header p {
    font-size: 45px;
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

#logo {
    display: block;
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 20px 0px;
}

body {
    color: var(--primary);
    background-color: var(--secondary);
    font-family: 'Edo', sans-serif;
}

body h2, h3 {
    text-align: center;
    color: var(--primary);
    padding: 10px;
    margin: 10px;
}

body a {
    color: var(--primary);
    text-decoration: none;
}

body p {
    text-decoration: none;
    color: var(--primary);
}

#logoImg {
    width: 20px;
}

.Cabeca {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    background: none;
    color: var(--primary);
    margin: 5px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 2px solid var(--secondary);
    box-shadow: 1px 1px 15px 3px rgba(255, 255, 255, 0.6);
}

.itens {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    background: none;
    color: var(--primary);
    margin: 20px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 2px solid var(--secondary);
    box-shadow: 1px 1px 15px 3px rgba(255, 255, 255, 0.6);
}

.barberImg {
    display: block;
    width: 300px;
    margin: auto;
    padding: 20px 0px;
}

.escolhaServico {
    display: block;
    text-align: center;
}

footer {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 15px;
    color: var(--primary);
    font-size: 14px;
    font-weight: bold;
}

footer p {
    text-align: center;
    font-size: 14px;
}

